<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width")
	title Макияж, прически, создание образа, фотосессии в Орле
	link(rel="stylesheet", href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="libs/font-awesome-4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="libs/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css")
	link(rel="stylesheet", href="css/animate.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="css/media.css")
body

	header.top-line

		.top-line__name-logo Анастасия Бышок 
			span визажист-художник по прическам
		.top-line__logo
			a(href="#")
				img(src="img/logo.svg", alt="")
		.top-line__top-menu
			ul
				li 
					a(href="#") Обо мне
				li
					a(href="#") Портфолио
				li
					a(href="#") Цены
				li
					a(href="#") Контакты
					
			a(href="#main-nav").open-menu
				img(src="img/menu.svg", alt="")
			.overlay
				nav.overlay-menu
					p.overlay-p Анастасия Бышок
					p.overlay-p стилист-визажист
					br
					ul
						li 
							a(href="#") Обо мне
						li
							a(href="#") Портфолио
						li
							a(href="#") Цены
						li
							a(href="#") Контакты
						li
							a(href="#").close-menu X
			
	section.main-slide
		.owl-carousel
			.main-slide__item-one
				p model: Имя Фамилия  photo: Имя Фамилия  mua&hair: Имя Фамилия
				.main-slide-info
					h3 фотопроект
					h2 Цветущие сады
					h3 макияж и прическа
					a(href="#").button-top подробнее
			.main-slide__item2
				p model: Имя Фамилия  photo: Имя Фамилия  mua&hair: Имя Фамилия
				.main-slide-info
					h3 фотосессия
					h2 создание образа
					h3 макияж и прическа
					a(href="#").button-top подробнее
			.main-slide__item3
				p model: Имя Фамилия  photo: Имя Фамилия  mua&hair: Имя Фамилия
				.main-slide-info
					h3 фотосессия
					h2 сама нежность
					h3 макияж и прическа для будущих мамочек
					a(href="#").button-top подробнее
	section.service
		h1 Мои 
			span  услуги

		.service__item
			.service__item-img
				img(src="img/wedding.jpg", alt="").img-responsive
			.service__item-info
				h3 Создание свадебного образа
				p  Милые невесты, предлагаю вам свои услуги свадебного стилиста с выездом на дом. Для вас мы создадим образ, полный нежности и легкости, ведь вы - истинная королева этого торжества. Репетиция образа придаст вам уверенности в успехе долгожданного события.
				a(href="#").button подробнее
		.service__item
			.service__item-img
				img(src="img/night.jpg", alt="").img-responsive
			.service__item-info
				h3 Создание вечернего образа
				p  Прическа и макияж для любого события, будь то День Рождения или выпускной, корпоратив или волнительное свидание, фотосессия или бал. Блистайте и ловите на себе восхищенные взгляды окружающих. 
				a(href="#").button подробнее	
		.service__item
			.service__item-img
				img(src="img/project.jpg", alt="").img-responsive
			.service__item-info
				h3 Участие в удивительных фотопроектах
				p  Давно хотели посмотреть на себя по-новому? Вместе с лучшими фотостудиями и талантливыми фотографами Орла, мы перенесем вас в мир осуществления всех ваших фантазий.
				a(href="#").button подробнее	
	section.portfolio-main
		h1 Мои 
			span  работы
		.portfolio-main__slider
			.owl-carousel
				.item
					img(src="img/gal_11_thumb.jpg", alt="")
				.item
					img(src="img/gal_14_thumb.jpg", alt="")
				.item
					img(src="img/gal_22_thumb.jpg", alt="")
				.item
					img(src="img/gal_18_thumb.jpg", alt="")
				.item
					img(src="img/gal_12_thumb.jpg", alt="")
				.item
					img(src="img/gal_19_thumb.jpg", alt="")
				.item
					img(src="img/gal_24_thumb.jpg", alt="")
				.item
					img(src="img/gal_27_thumb.jpg", alt="")
		a(href="#").button-top больше работ
	section.main-contacts
		h1 Мои 
			span  контакты
		h3 ОРЕЛ
		img(src="img/phone.svg", alt="")
		h2 8(985)175-58-75
		a(href="#")
			img(src="img/vk.svg", alt="")
		a(href="#")
			img(src="img/inst.svg", alt="")
	footer
		|2017 © Анастасия Бышок
		p powered by OS


	script(src="libs/jquery/jquery-3.2.1.min.js")
	script(src="libs/OwlCarousel2-2.2.1/dist/owl.carousel.min.js")
	script(src="js/wow.min.js")
	script(src="js/common.js")
