<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width")
	title Макияж, прически, создание образа, фотосессии в Орле
	link(rel="stylesheet", href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="libs/font-awesome-4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="libs/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css")
	link(rel="stylesheet", href="css/animate.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="css/gallary.css")
	link(rel="stylesheet", href="css/media.css")
body

	header.top-line

		.top-line__name-logo Анастасия Бышок 
			span визажист-художник по прическам
		.top-line__logo
			a(href="#")
				img(src="img/logo.svg", alt="")
		.top-line__top-menu
			ul
				li 
					a(href="#") Обо мне
				li
					a(href="#").active Портфолио
				li
					a(href="#") Цены
				li
					a(href="#") Контакты
					
			a(href="#main-nav").open-menu
				img(src="img/menu.svg", alt="")
			.overlay
				nav.overlay-menu
					p.overlay-p Анастасия Бышок
					p.overlay-p стилист-визажист
					br
					ul
						li 
							a(href="#") Обо мне
						li
							a(href="#") Портфолио
						li
							a(href="#") Цены
						li
							a(href="#") Контакты
						li
							a(href="#").close-menu X
	.header
		h1 Мое 
			span  портфолио
	section.gallary
		
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			.item.item-type-move
				a(href="#").item-hover
					.item-info
						.headline макияж и прическа
							.line
						.date model:Имя Фамилия photo:Имя Фамилия mua&hair:Имя Фамилия
					.mask
				.item-img
					img(src="img/gal_2_thumb.jpg", alt="")
			img(src="img/gal_2_thumb.jpg", alt="").small-device
		.gallary__item.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/gal_3_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".3s")
			img(src="img/gal_4_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			img(src="img/gal_5_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/gal_6_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".3s")
			img(src="img/gal_7_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			img(src="img/gal_8_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/gal_9_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".3s")
			img(src="img/gal_10_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			img(src="img/gal_11_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/gal_12_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".3s")
			img(src="img/gal_13_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			img(src="img/gal_14_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/gal_15_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".3s")
			img(src="img/gal_16_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			img(src="img/gal_17_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/gal_18_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".3s")
			img(src="img/gal_19_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			img(src="img/gal_20_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/gal_21_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".3s")
			img(src="img/gal_22_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			img(src="img/gal_23_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/gal_24_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".3s")
			img(src="img/gal_25_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			img(src="img/gal_26_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/gal_27_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".3s")
			img(src="img/gal_28_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			img(src="img/gal_29_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".2s")
			img(src="img/gal_30_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".3s")
			img(src="img/gal_31_thumb.jpg", alt="")
		.gallary__item.wow.fadeIn(data-wow-delay=".1s")
			img(src="img/gal_32_thumb.jpg", alt="")
	section.main-contacts
		h1 Мои 
			span  контакты
		h3 ОРЕЛ
		img(src="img/phone.svg", alt="")
		h2 8(985)175-58-75
		a(href="#")
			img(src="img/vk.svg", alt="")
		a(href="#")
			img(src="img/inst.svg", alt="")
	footer
		|2017 © Анастасия Бышок
		p powered by OS	

	
	script(src="libs/jquery/jquery-3.2.1.min.js")
	script(src="libs/OwlCarousel2-2.2.1/dist/owl.carousel.min.js")
	script(src="js/wow.min.js")
	script(src="js/common.js")

