<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width")
	title Макияж, прически, создание образа, фотосессии в Орле
	link(rel="stylesheet", href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="libs/font-awesome-4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="libs/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css")
	link(rel="stylesheet", href="css/animate.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="css/gallary.css")
	link(rel="stylesheet", href="css/media.css")
body

	header.top-line

		.top-line__name-logo Анастасия Бышок 
			span визажист-художник по прическам
		.top-line__logo
			a(href="#")
				img(src="img/logo.svg", alt="")
		.top-line__top-menu
			ul
				li 
					a(href="#") Обо мне
				li
					a(href="#") Портфолио
				li
					a(href="#").active Цены
				li
					a(href="#") Контакты
					
			a(href="#main-nav").open-menu
				img(src="img/menu.svg", alt="")
			.overlay
				nav.overlay-menu
					p.overlay-p Анастасия Бышок
					p.overlay-p стилист-визажист
					br
					ul
						li 
							a(href="#") Обо мне
						li
							a(href="#") Портфолио
						li
							a(href="#") Цены
						li
							a(href="#") Контакты
						li
							a(href="#").close-menu X
	.header
		h1 Цены на 
			span  услуги
	
	.price_item
		.price_item-img
			img(src="img/wed.jpg", alt="")
		.price_item-text
			h3 Свадебные образы
			p В самый важный день в вашей жизни все должно быть идеально, ваши движения не должно ничего стеснять, прическа должна держать свою форму и быть прекрасной весь день, а макияж должен быть стойким и привлекательным. 
			p Милые невесты, предлагаю вам свои услуги свадебного стилиста с выездом на дом. Для вас мы создадим образ, полный нежности и легкости, ведь вы - истинная королева этого торжества. Репетиция образа придаст вам уверенности в успехе долгожданного события.
			table
				tr
					td Свадебный макияж
					td 1500 руб.
				tr
					td Свадебная прическа
					td 1500 руб.
				tr
					td Свадебный образ(прическа и макияж)
					td 1500 руб.
				tr
					td Репетиция
					td 1500 руб.
				tr
					td Свадебный образ + репетиция
					td 1500 руб.
				tr
					td Макияж и прическа для гостей
					td 1500 руб.
	.price_item
		.price_item-img
			img(src="img/wed.jpg", alt="")
		.price_item-text
			h3 Свадебные образы
			p В самый важный день в вашей жизни все должно быть идеально, ваши движения не должно ничего стеснять, прическа должна держать свою форму и быть прекрасной весь день, а макияж должен быть стойким и привлекательным. 
			p Милые невесты, предлагаю вам свои услуги свадебного стилиста с выездом на дом. Для вас мы создадим образ, полный нежности и легкости, ведь вы - истинная королева этого торжества. Репетиция образа придаст вам уверенности в успехе долгожданного события.
			table
				tr
					td Свадебный макияж
					td 1500 руб.
				tr
					td Свадебная прическа
					td 1500 руб.
				tr
					td Свадебный образ(прическа и макияж)
					td 1500 руб.
				tr
					td Репетиция
					td 1500 руб.
				tr
					td Свадебный образ + репетиция
					td 1500 руб.
				tr
					td Макияж и прическа для гостей
					td 1500 руб.
	.price_item
		.price_item-img
			img(src="img/wed.jpg", alt="")
		.price_item-text
			h3 Свадебные образы
			p В самый важный день в вашей жизни все должно быть идеально, ваши движения не должно ничего стеснять, прическа должна держать свою форму и быть прекрасной весь день, а макияж должен быть стойким и привлекательным. 
			p Милые невесты, предлагаю вам свои услуги свадебного стилиста с выездом на дом. Для вас мы создадим образ, полный нежности и легкости, ведь вы - истинная королева этого торжества. Репетиция образа придаст вам уверенности в успехе долгожданного события.
			table
				tr
					td Свадебный макияж
					td 1500 руб.
				tr
					td Свадебная прическа
					td 1500 руб.
				tr
					td Свадебный образ(прическа и макияж)
					td 1500 руб.
				tr
					td Репетиция
					td 1500 руб.
				tr
					td Свадебный образ + репетиция
					td 1500 руб.
				tr
					td Макияж и прическа для гостей
					td 1500 руб.
	section.main-contacts
		h1 Мои 
			span  контакты
		h3 ОРЕЛ
		img(src="img/phone.svg", alt="")
		h2 8(985)175-58-75
		a(href="#")
			img(src="img/vk.svg", alt="")
		a(href="#")
			img(src="img/inst.svg", alt="")
	footer
		|2017 © Анастасия Бышок
		p powered by OS	