<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width")
	title Макияж, прически, создание образа, фотосессии в Орле
	link(rel="stylesheet", href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="libs/font-awesome-4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="libs/OwlCarousel2-2.2.1/dist/assets/owl.carousel.min.css")
	link(rel="stylesheet", href="css/animate.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="css/gallary.css")
	link(rel="stylesheet", href="css/media.css")
body

	header.top-line

		.top-line__name-logo Анастасия Бышок 
			span визажист-художник по прическам
		.top-line__logo
			a(href="#")
				img(src="img/logo.svg", alt="")
		.top-line__top-menu
			ul
				li 
					a(href="#").active Обо мне
				li
					a(href="#") Портфолио
				li
					a(href="#") Цены
				li
					a(href="#") Контакты
					
			a(href="#main-nav").open-menu
				img(src="img/menu.svg", alt="")
			.overlay
				nav.overlay-menu
					p.overlay-p Анастасия Бышок
					p.overlay-p стилист-визажист
					br
					ul
						li 
							a(href="#") Обо мне
						li
							a(href="#") Портфолио
						li
							a(href="#") Цены
						li
							a(href="#") Контакты
						li
							a(href="#").close-menu X
	.header
		h1 Обо 
			span  мне
		.header__item
			.header__item-img
				img(src="img/me.jpg", alt="").img-responsive
			.header__item-info
				h3 Друзья!
				p  Рада приветствовать вас на своем сайте. Меня зовут Анастасия и я - визажист и стилист по прическам в городе Орле. 
				p Что бы создать что-то красивое, человеку требуется вдохновение. За годы своей работы я поняла, что каждая из вас вдохновляет меня. Вдохновляет на создание новых неповторимых образов, на развитие и улучшение своих профессиональных качеств. Я благодарна каждой из вас и с огромным удовольствием хочу пригнласить в свой мир красоты.
				p Только вместе мы сможем подобрать для вас тот образ, в котором вы будете чувствовать себя гармонично, который будет вам идеально подходить и заставит вас посмотреть на себя по-новому.
		h4 Жду вас за красивой прической или макияжем!
	section.main-contacts
		h1 Мои 
			span  контакты
		h3 ОРЕЛ
		img(src="img/phone.svg", alt="")
		h2 8(985)175-58-75
		a(href="#")
			img(src="img/vk.svg", alt="")
		a(href="#")
			img(src="img/inst.svg", alt="")
	footer
		|2017 © Анастасия Бышок
		p powered by OS	
			

	script(src="libs/jquery/jquery-3.2.1.min.js")
	script(src="libs/OwlCarousel2-2.2.1/dist/owl.carousel.min.js")
	script(src="js/wow.min.js")
	script(src="js/common.js")